*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
/Manifest.toml
.Rhistory
.vscode/
YourModel.lp
gurobi.log
Example_Systems/SmallNewEngland/ThreeZones/TDR_*
Example_Systems/SmallNewEngland/SevenZones/TDR_*
Example_Systems/SmallNewEngland/ThreeZones/Results*
Example_Systems/SmallNewEngland/SevenZones/Results*
Example_Systems/SomeWhere/Results*
Example_Systems/GreenField/Results*
src/test.jl
/docs/build/
**/.ipynb_checkpoints/