*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
/Manifest.toml
.Rhistory
deps/deps.jl
.vscode/
output_data/
MGAResults_min/
MGAResults_max/
YourModel.lp
time_domain_reduction/PreCluster_Plots.jl
time_domain_reduction/TSC_Plots.jl
time_domain_reduction/TSC.jl
gurobi.log
**/output.log

# Don't save the environment folder to avoid
# problems between Julia versions
GenXJulEnv/
**/DOLPHYNJulEnv/

# Don't store results files, except the example results
# This requires a slightly awkward set of rules
# as we want to keep the Results_HSC folder
!Results**/
Results**/*
TDR_Results**/
!Results_Example/
!Results_Example/Results_HSC
!TDR_Results_Example/
!TDR_Results_Example/Results_HSC

# Don't store summary files
**/summary.txt

src/test.jl
/docs/build/