*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
/Manifest.toml
.Rhistory
deps/deps.jl
.vscode/
GenXJulEnv/
**/DOLPHYNJulEnv/
output_data/
MGAResults_min/
MGAResults_max/
YourModel.lp
time_domain_reduction/PreCluster_Plots.jl
time_domain_reduction/TSC_Plots.jl
time_domain_reduction/TSC.jl
gurobi.log
**/output.log

Results**/
TDR_Results**/
!Results_Example/
!TDR_Results_Example/

**/summary.txt

src/test.jl
/docs/build/