name = "Dolphyn"
uuid = "2a466132-4b02-429f-9994-5df6ddd3977f"
authors = ["Guannan He <>", "Dharik Mallapragada <dharik@mit.edu>", "Ruaridh Macdonald <rmacd@mit.edu>", "Mary Bennett <>", "Shantanu Chakraborty <>", "Anna Cybulsky <>", "Michael Giovanniello <>", "Jun Wen Law <>", "Youssef Shaker <>", "Nicole Shi <>", "Yuheng Zhang <>"]
version = "0.2.3"

[deps]
BenchmarkTools = "6e4b80f9-dd63-53aa-95a3-0cdb28fa8baf"
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
Clustering = "aaaa29a8-35af-508c-8bc3-b662a17a0fe5"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Distances = "b4f34e82-e78d-54a5-968a-f98e89d6e8f7"
Glob = "c27321d9-0574-5035-807b-f59d2c89b15c"
Gurobi = "2e9cd046-0924-5485-92f1-d5272153d98b"
HiGHS = "87dc4568-4c63-4d18-b0c0-bb2238e4078b"
JuMP = "4076af6c-e467-56ae-b986-b466b2749572"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
LoggingExtras = "e6f89c97-d47a-5376-807f-9c37f3926c36"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecursiveArrayTools = "731186ca-8d62-57ce-b412-fbd966d074cd"
Revise = "295af30f-e4ad-537b-8983-00126c2a3abe"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
YAML = "ddb6d928-2868-570f-bddf-ab3f9cf99eb6"

[compat]
BenchmarkTools = "1.3.0"
CSV = "0.10.0"
Clustering = "0.14.0"
Combinatorics = "1.0.0"
DataFrames = "1.3.5"
DataStructures = "0.18.0"
Dates = "1"
Distances = "0.10.0"
Glob = "1.3.0"
HiGHS = "1.4.0"
JuMP = "1.0.0"
LinearAlgebra = "1"
Logging = "1"
LoggingExtras = "0.4.9, 1"
Random = "1"
RecursiveArrayTools = "2.32.0, 3"
Revise = "3.4.0"
Statistics = "1"
StatsBase = "0.33.0"
YAML = "0.4.0"
julia = "1.6"
